* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", serif;
  letter-spacing: 0.09em;
}
:root {
  --preto:#000000;
  --branco: #ffff;
  --cor-erro: #ff4c4c; /* Vermelho */
  --cor-sucesso: #28a745; /* Verde sucesso */
  --cor-info: #17a2b8; /* Azul claro */
  --cor-secundaria:#292727;
}
.background-container {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("../img/bacground-header.jpg");
  background-size: cover;
}
html body{
  background-color: var(--preto);
}
header {
  display: flex;
  flex-direction: row;
  height: 3em;
  justify-content: space-between;
  padding: 1em;
}
#logo {
  height: 1.375em;
  width: 2.8125em;
}
li {
  display: none;
}

#agendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
h1 {
  color: var(--branco);
  font-size: 1em;
  text-align: center;
}
#btn-agendar {
  font-size: 0.9em;
  background-color: var(--branco);
  border: none;
  border-radius: 2em;
  width: 9em;
  padding: 0.1em;
  margin-bottom: 2em;
}
h2{
  font-size: 0.7em;
  color: var(--branco);
  text-align: center;
  font-weight: 300;
  margin: 2em;
}
main{
  display: flex;
  align-items: center;
  background-color: #000000;
}

main span{
  font-size: 1.5em;
  letter-spacing: 0.09em;
}
section{
  display: flex;
  gap: 2em;
  justify-content: center;
}
section input{
  color: var(--branco);
  font-size: 0.8em;
  background-color: var(--cor-secundaria);
  border: none;
  border-radius: 2em;
  width: 9em;
  height: 2.5em;
  padding: 0.1em;
  margin-bottom: 2em;
}
figure{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;

}
figure img{
  height: 5em;
  width: 5em;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  background-size: 4em;
}
figure img.active{
  opacity: 1;
}
article{
  color: var(--branco);
  font-size: 0.3em;
  font-weight: 100;
}
article span{
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}
.background-container2{
  background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.685)),
  url("../img/bacground-footer.jpg");
background-size:cover;
height: 2em;
}
footer{
display: flex;
font-size: 0.7em;
}
@media (min-width: 577px) and (max-width: 768px) {
}
